<div class="body">
	<div class="bobo">
		<div class ="cart">
			<h1>お気に入り商品&ensp;&nbsp; <i class="fas fa-star"></i></h1>
		</div>
		<div class="container">
			<div class="row">
				<table class="table-striped col-md-12 favorite-table">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>お気に入り商品</th>
							<th>価格</th>
						</tr>
					</thead>
					<tbody>
						<% @favorites.each do |favorite| %>
						<tr>
							<td class="cd"><i class="fas fa-compact-disc fa-spin compact-disc"></i></td>
							<td class="k"><%= attachment_image_tag favorite.product, :jacket_image, :fill, 80,80, fallback: "",size: "100*100" %>
							<td class="moji"><%= link_to favorite.product.name,product_path(favorite.product.id) %></td>
							<td class="moji">￥<%= converting_to_jpy(favorite.product.price) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<div class="row">
					<div class="col-md-2 col-md-offset-5">
						<%= paginate @favorites %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>