<div class="nested-fields">
  <p>
  	 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <%= f.text_field :address %>
    <%= link_to_remove_association "住所を削除する", f %>
  </p>
</div>