<div class="baby">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 actions">
				<p>購入が完了しました。</p>
				<p>お買い上げありがとうございます。</p>
			</div>
        </div>
        <div class="row">
        	<%= link_to root_path,class: "col-md-6 col-md-offset-3 btn btn-warning" do %>
        	<span>TOPページに戻る</span>
        	<% end %>
        </div>
    </div>
</div>