<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <% @products.each do |product| %>
        <div class="col-md-2">
           <%= attachment_image_tag product, :jacket_image, :fill, 200,200, fallback: "",size: '100×100' %><br/>
            <%= link_to product.name,admin_manager_product_path(product.id) %><br/>
            <%= product.price %>円
       </div>
          <div class="col-md-1">
          </div>
        <% end %>
      </div>
    </div>
  </div>
<%= paginate @products %>
