/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .actions{
 	text-align:center;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	background-color: white;
	height: 120px;
	background:linear-gradient(180deg,white 0%,white 40%,whitesmoke 60%,whitesmoke 100%);
}

.cd{
	font-size: 30px;
	color: blue;
	font-family: 'arial black';
	padding-top: 10px;
	padding-left: 30px;
	float: left;
}

.my{
	font-size: 40px;
	color: #75A9FF;
	float: left;
	padding-top: 10px;
}
.search{
	padding-top: 7px;
	text-indent: 0.5in;
}

ul{
	padding-right: 20px;
}

li{
	margin-top: 10px;
}

.out{
	margin-top: 38px;
}


.border{
	border-right: solid 1px #ededed;
}

.log{
	font-size: 20px;
	padding-bottom: 50px;
}

.user-info{
	border: solid 1px black;
	width: 400px;
	padding: 20px;
	margin: 0 auto;
}

.btn-warning{
	margin-left: 250px;
}

.destroy{
	margin-top: 30px;
	margin-left: 500px;
}

.baby{
	text-align:center;
	margin:0 auto;
}

.user-index-table{
	margin-top: 40px;
}

.user-index{
	margin-left: 150px;
}
.actions{
	float: left;

}

.product-index{
	border: solid 1px black;
}

.log-in{
    width:40%;
    margin:0 auto;
	text-align: center;
	background-color: honeydew;
	padding-top:3px;
	border-radius: 5px;
	margin-top:40px;
	margin-bottom:40px;
	height:280px;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.log-in-actions{
	margin: 0 auto;
}
