/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .actions{
 	text-align:center;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	background-color: white;
	height: 120px;
	background:linear-gradient(180deg,white 0%,white 40%,whitesmoke 60%,whitesmoke 100%);
}

.cd{
	font-size: 30px;
	color: blue;
	font-family: 'arial black';
	padding-top: 10px;
	padding-left: 30px;
	float: left;
}

.my{
	font-size: 40px;
	color: #75A9FF;
	float: left;
	padding-top: 10px;
}
.search{
	padding-top: 7px;
	text-indent: 0.5in;
}

ul{
	padding-right: 20px;
}

li{
	margin-top: 10px;
}

.out{
	margin-top: 38px;
}


.border{
	border-right: solid 1px #ededed;
}

.log{
	font-size: 20px;
	padding-bottom: 50px;
}

.user-info{
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    width: 700px;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
	margin-bottom:100px;
}

.user-info-heading{
	margin-top:100px;
	margin-bottom:30px;
}

.baby{
	text-align:center;
	margin:0 auto;
}
.body{
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.jacket{
padding-left:600px;
}

.user-index-table{
	margin-top: 40px;
}

.user-index{
	margin-left: 150px;
}
.actions{
	float: left;

}

.product-index{
	border: solid 1px black;
}

.log-in{
    width:40%;
    margin:0 auto;
	text-align: center;
	background-color: honeydew;
	padding-top:3px;
	border-radius: 5px;
	margin-top:40px;
	margin-bottom:40px;
	height:280px;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.sign-up{
    width:40%;
    margin:0 auto;
	text-align: center;
	background-color: honeydew;
	padding-top:3px;
	border-radius: 5px;
	margin-top:40px;
	margin-bottom:40px;
	height:600px;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.log-in-actions{
	margin: 0 auto;
}
.user-address{
	padding-left:60px;
}
.user-name{
	padding-left:60px;
	padding-bottom:15px;
	padding-top:15px;
}
.user-address-other{
	padding-left:156px;
}
.user-post,.user-phone{
	padding-left:60px;
	padding-top:15px;
}
.user-mail{
	padding-left:60px;
	padding-top:15px;
	padding-bottom:15px;
}
.user-edit{
	margin-left:300px;
	display:inline;
}
.user-destroy{
	display:inline;
	margin-left: 40px;
	padding-left: 60px;
	padding-right:60px;
}
.image{
	margin-top:90px;
}

.product-table,.disc-table{
	border-collapse: collapse;
	margin-top:30px;
}
.product-cart{
	margin-top:30px;
}
.product-table tr,.disc-table tr{
	border-bottom: solid 2px white;
}
.product-table tr:last-child,.disc-table tr:last-child{
	border-bottom:none;
}
.product-table th{
	position:relative;
	text-align: left;
	width: 30%;
	background-color: #52c2d0;
	color: white;
	text-align: center;
	padding: 10px 0;
}
.disc-table th{
    position:relative;
	text-align: left;
	width: 100%;
	background-color: #52c2d0;
	color: white;
	text-align: center;
	padding:10px 0;
}

.product-table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.disc-table th:after{
	display: block;
	content: "";
	width: 0px;
	height: 0px;
  position: absolute;
  left:calc(50% - 10px);
  bottom: -10px;
  border-top: 10px solid #52c2d0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.product-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.disc-table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.product-image{
	margin-top:80px;
	margin-bottom:70px;
}

.product-link{
	color:black;
}

.product-link:visited{
	color: blue;
}

.product-link:hover{
	color: #ff4081;
}
.star,.star-o{
	color: #FFD700;
}

.item-edit-destroy{
	display:inline;
}

.arrival-date{
	margin-top:70px;
	margin-bottom:75px;
}

.arrival-text{
	margin-bottom:60px;
}

.arrival{
	margin-bottom: 60px;
}

.arrival-count{
	margin-bottom:50px;
}

.admin-item-destroy,.admin-item-edit{
	margin-top:60px;
}

.cart-count{
	height:35px;
	margin-bottom:15px;
	width:70px;
	margin-right:15px;
}

.user-product-table{
	margin-bottom:100px;
}
footer{
	height:60px;
	text-align:center;
	border-top:solid 1px gray;
	color:black;
	line-height:60px;
	background-color: silver;
	background:linear-gradient(180deg,silver 0%,silver 40%,silversmoke 60%,silversmoke 100%);
	margin-top:40px;

}
.body{
	height:1500px;
}

.cart-table-kkk td{
text-align:center;
}

.cart-table-kkk{
	margin-bottom:50px;
}

.cart-table-td{
	line-height:80px;
}

.cart-page-amount{
	margin-bottom:50px;
}