// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-table th:first-child {
  border-radius: 5px 0 0 0;
}

.cart-table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

.cart-table tr td {
  padding: 8px 15px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}

.cart-table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.cart-table tr {
  background: white;
}

.cart-table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

.cart-table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.cart-table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.cart-table tr:hover {
  background: #fffafa;
  cursor:pointer;
}