// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bobo{margin : 30px;
	padding-left :100px;
	padding-right :100px;
}

.cart{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
 }
.cd{
	font-size: 20px;
}
.moji{
	font-size: 20px;
}