// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td, th { border: 2px #808080 solid; }

td ,tr{
	font-size: 20px;
}

table {
margin-top: 20px;
}